<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Pardiralli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<div th:fragment="feedback-messages (feedbackList)" th:each="feedback : ${feedbackList}">
    <div class="alert" th:text="${feedback.message}" th:classappend="${feedback.cssClass}"></div>
</div>

<nav th:fragment="navbar" class="navbar navbar-default navbar-masing-photo">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand img-rounded" src="http://masing.tartu.ee//images/Pildid/Logod/THMK_logo.png" alt="THMK"/>
            <a class="navbar-brand" th:href="@{/}">Tahvelarvuti laenutussüsteem</a>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/}">Laenuta</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/insert}">Sisesta andmeid</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/stat}">Statistika</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/history}">Ajalugu</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Logi sisse</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logi välja (<span sec:authentication="name" class="admin-name">[user]</span>)</a></li>
    </ul>
</nav>


</body>
</html>
