<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THMK Tahvelarvutite laenutus</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/external.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/external.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/feedback :: navbar"></div>

    <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.scanner.tablet.feedback.Feedback>"*/-->
    <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

    <!--/*@thymesVar id="devices" type="ee.scanner.tablet.dto.DeviceWrapperDTO"*/-->
    <div class="panel panel-default">
        <div class="panel-heading">Seadmed <span><a th:href="@{/devices_csv}">Ekspordi</a></span></div>
        <div class="panel-body">
            <table id="devs" class="table table-hover display">
                <thead>
                <tr>
                    <th>Idendifikaator</th>
                    <th>Märkus</th>
                    <th>Aktiivne</th>
                    <th>Laenutusi</th>
                    <th>Muuda</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dev, int : ${devices.getDevices()}">
                    <td th:text="${dev.getDeviceIdentification()}"></td>
                    <td th:text="${dev.getDescription()}"></td>
                    <td th:text="${dev.getActive() ? ' ✔' :'✗'}"></td>
                    <td th:text="${dev.getTotalRentals()}"></td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal" th:attr="data-target='#modal'+${dev.getId()}">Muuda andmeid</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form th:object="${devices}" th:action="@{/update_devices}" method="post">
        <div th:each="dev, int : ${devices.getDevices()}">
            <div th:id="'modal'+${dev.getId()}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title">Redigeeri seadet</div>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" th:field="*{devices[__${int.index}__].id}"/>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body form-group">
                                    <label th:for="${#fields.idFromName('deviceIdentification')}">Idenditifikaator:</label>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{devices[__${int.index}__].deviceIdentification}"/>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body form-group">
                                    <label th:for="${#fields.idFromName('description')}">Märkus:</label>
                                    <input type="text"
                                           class="form-control"
                                           maxlength="100"
                                           th:field="*{devices[__${int.index}__].description}"/>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="form-group panel-body">

                                    <label>Aktiivne:</label>
                                    <label class="radio-inline">
                                        <input th:field="*{devices[__${int.index}__].active}"
                                               type="radio"
                                               th:value="true"/>
                                        &#10004;
                                    </label>
                                    <label class="radio-inline">
                                        <input th:field="*{devices[__${int.index}__].active}"
                                               type="radio"
                                               th:value="false"/>
                                        &#10006;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Uuenda</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>