<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THMK Tahvelarvutite laenutus</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/external.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/external.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/feedback :: navbar"></div>

    <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.scanner.tablet.feedback.Feedback>"*/-->
    <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

    <div class="btn-group btn-group-justified" data-toggle="tooltip" title="Vajuta siia, et alustada tahvelarvutite laenamist või tagastamist">
        <a class="btn btn-primary btn-xlarge" data-toggle="modal" data-target="#retriever">Alustamiseks vajuta siia</a>
    </div>

    <!--/*@thymesVar id="registerDTO" type="ee.scanner.tablet.dto.RegisterDTO"*/-->
    <form th:action="@{/}" method="post" th:object="${registerDTO}">
        <div th:id="'retriever'" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header"><h2 class="modal-title">Sisesta printeri PIN</h2></div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h3 id="usr"><label th:for="${#fields.idFromName('personInformation')}">Printeri kood</label></h3>
                            <textarea th:field="*{personInformation}" rows="4" cols="50" class="form-control" autofocus="autofocus"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-lg" th:href="@{/}" type="button">Katkesta</a>
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#tablets" type="button">Sisesta tahvelarvutid!</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:id="'tablets'" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header"><h2 class="modal-title">Seadmed</h2></div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h4>Sisestamisel seade nr: <span id="charNum"></span></h4>
                            <h4><label th:for="${#fields.idFromName('devices')}">Tahvelarvutid</label></h4>
                            <textarea th:field="*{devices}" rows="4" cols="50" class="form-control" autofocus="autofocus"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default btn-lg" th:href="@{/}" type="button">Katkesta</a>
                        <button class="btn btn-primary btn-lg" type="submit" value="retrieve" name="op">Laenuta</button>
                        <button class="btn btn-danger btn-lg" type="submit" value="return" name="op">Tagasta</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>