<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THMK Tahvelarvutite laenutus</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/external.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/external.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/feedback :: navbar"></div>

    <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.scanner.tablet.feedback.Feedback>"*/-->
    <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

    <div class="panel panel-default">
        <div class="panel-heading">Välja laenutatud seadmed</div>
        <div class="panel-body">
            <table id="rentals" class="table table-hover display">
                <thead>
                <tr>
                    <th>Seade</th>
                    <th>Eesnimi</th>
                    <th>Perenimi</th>
                    <th>Laenutuse algus</th>
                </tr>
                </thead>
                <!--/*@thymesVar id="rentals" type="java.util.List<ee.scanner.tablet.dto.RentalDTO>"*/-->
                <tbody>
                <tr th:each="rent : ${rentals}">
                    <td th:text="${rent.getDevices().getDeviceIdentification()}"></td>
                    <td th:text="${rent.getUser().getFirstName()}"></td>
                    <td th:text="${rent.getUser().getLastName()}"></td>
                    <td th:text="${rent.getRentalTime()} ? ${#temporals.format(rent.getRentalTime(),'dd.MM.yyyy HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>